body{
	background-color: #f1f1f1;
}
.form-box{
	margin: 5% 25%;
}
.wrapper{
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	padding: 10% 15%;
	background-color: #fff;
	
}
.nav-pills>li>a{
	border-radius:0;
}
.hide{
	display: none;
}
.form-horizontal .has-feedback .form-control-feedback {
	top: 10px;
}

.alert{
	width: 40% !important;
	float: right !important;
}

.greet{
	padding-left: 5%;
	float:left;
	font-weight: bold;
}
#logout{
	padding-right: 5%;
	float:right;
	cursor: pointer;
}